/* GENERAL */
main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

label, p {
    margin: 0 !important;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section > label {
    font-size: larger;
    font-weight: bolder;
    text-indent: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px !important;
}

.make-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labels, .values {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.labels *, .values * {
    padding: 5px;
}

ion-icon {
    display: block;
    margin: auto;
    font-size: x-large;
}

.rating-stars {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px;
}

.rating-stars > label {
    width: 40%;
    font-size: larger;
}

.original-price {
    text-decoration: line-through;
}

/* INTRODUCTION */
#introduction {
    min-height: 55vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 0;
}

#product-image {
    width: 45%;
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #eee;
}

#product-image > img {
    height: 40vh;
    object-fit: contain;
}

#product-information {
    width: 50%;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#information {
    width: 80%;
    display: flex;
}

#information > .labels {
    width: 40%;
}

#price-sale {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#price-sale > div {
    width: 60%;
    display: flex;
    gap: 25px;
}

#price-sale p {
    padding: 5px;
}

.sale {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: red;
    user-select: none !important;
} 	

#action {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#action  button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

button[name="add"] {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: skyblue;
}

button[name="add"]:hover,button[name="muaNgay"]:hover {
    transform: scale(1.05);
}

button[name="add"] p{
    cursor: pointer;
    user-select: none !important;
}

button[name="muaNgay"] {
    background-color: red;
}

/* DESCRIPTION */
#description > p {
    text-align: justify;
    font-size: medium;
    line-height: 30px;
}

/* PRODUCT DETAIL */
tr > td:first-child {
    font-weight: bold;
}

/* SAME-AUTHOR & CARABLE */
.items {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.item > a > img {
	width: 100%;
    height: 20vh;
    object-fit: contain;
}
.new-price{
	color:red;
	font-size: larger;
}
.old-price{
	text-decoration: line-through;
	font-size: small;
}

/* MODAL COMMENT */
.hide {
    display: none;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.lock-scroll {
    overflow-y: hidden;
}

#modal-comment {
    width: 60%;
    position: fixed;
    left: 20%;
    top: 25%;
}

/* MODAL-TITLE */
.modal-title {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 5px 5px 0 0;
    background-color: #001C40;
}

.modal-title > p {
    font-size: large;
    font-weight: bold;
    text-indent: 10px;
}

/* MODAL-CONTENT */
.modal-content {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: #f5f5f5 !important;
}

/* FORM */
#modal-comment form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

#modal-comment form > div {
    width: 100%;
}

#first-information {
    height: 10vh;
}

#comment-mark {
    width: 50%;
    transform: rotateY(180deg);
}

#comment-mark input {
    display: none;
}

#comment-mark label {
    cursor: pointer;
}

#comment-mark label:hover,
#comment-mark input:hover ~ label,
#comment-mark input:checked ~ label {
    color: orange;
}

#rating-mark {
    width: 35%;
}

#comment-product {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-product > div {
    width: 100%;
    display: flex;
}

#comment-product label {
    width: 20%;
}

#comment-cite {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#second-information {
    display: flex;
    justify-content: space-between;
}

#second-information > textarea {
    width: 85%;
    height: 20vh;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

button[name="comment"] {
    margin-top: 5vh;
    background-color: lightgreen;
}

