/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: royalblue !important;
    font-weight: bold;
}

label {
    font-weight: bold;
    cursor: inherit;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

ion-icon {
    display: block;
    font-size: x-large;
}

.label-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* HEADER */
header > img {
    width: 100%;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
}

#copyright {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#copyright > img {
    height: 15vh;
    object-fit: contain;
}

#copyright > div {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > div {
    line-height: 32px;
    padding: 10px 0;
}

footer > div > strong {
    font-size: larger;
}

#contacts {
    width: 45%;
}

#contacts > ul > li {
    font-style: italic;
}

#contacts ion-icon {
    width: 5%;
}

#policies {
    width: 25%;
    align-self: flex-start;
}

/* NAVIGATION */
.vertical-link {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.horizontal-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.horizontal-link > ion-icon {
    font-size: x-large;
}

.horizontal-link > label {
    font-weight: normal;
}

nav {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}

nav ion-icon {
    font-size: xx-large;
    cursor: inherit;
}

/* SEARCH BAR */
nav > div:first-child {
    width: 70%;
    display: flex;
    align-items: center;
}

nav > div:first-child > img {
    width: 20%;
    height: 10vh;
    object-fit: contain;
}

#search-bar {
    width: 75%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#search-bar > label {
    width: 10%;
}

#search-bar > label > ion-icon {
    margin: auto;
}

#search-bar > input {
    font-size: medium;
    width: 89%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: default;
}

/* ACTION BAR */
#action-bar {
    width: 25%;
    display: flex;
    justify-content: center;
}

#action-bar > * {
    width: 45%;
}

#action-bar > a:first-child {
    border-right: 2px solid lightslategray;
}

#attention {
    display: flex;
    gap: 10px;
}

#attention > label:last-child {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid dodgerblue;
    background-color: royalblue;
    color: white;
    font-size: xx-small;
}

#account-bar:hover > #account-action {
    display: flex;
}

#account-action {
    width: 18%;
    position: absolute;
    right: 0;
    top: 78px;
    z-index: 2;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    background-color: #F5F5F5;
    display: none;
}
#account-action form{
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
}

#account-action form:hover{
   background-color: #BC746C;
}

#account-action button{
    background: transparent;
    border: none;
}

#account-action form ion-icon{
    width: 30%;
}
/* ACTION BAR NOT AUTHEN*/
#action-bar-not-authen{
	width: 25%;
    display: flex;
    justify-content: center;
}

#action-bar-not-authen > * {
    width: 45%;
}

#action-bar-not-authen > form:first-child {
    border-right: 2px solid lightslategray;
}

#action-bar-not-authen  button{
	border: none;
	width: 100%;
    border-radius: 5px;
}

#action-bar-not-authen  button:hover{
    background-color: #8A97CF;
}

/* MAIN */
main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 0;
}

#introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#category {
    width: 25%;
    min-height: 458px;
}

#banners {
    width: 70%;
}

#category > label {
    height: 50px;
    padding: 10px;
}

#category > div {
    max-height: 408.8px;
    overflow: hidden;
    border-radius: 0;
}

#category > div:hover {
    overflow: auto;
}

#banners img {
    height: 458.8px;
    object-fit: cover;
}

/* PRODUCT */
.item-list {
    margin: 20px 0 !important;
    display: flex;
    justify-content: space-evenly;
}

.item {
    text-align: center;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEE;
    box-sizing: border-box;
}

.item > a > img {
	width: 100%;
    height: 20vh;
    object-fit: contain;
}

.item > cite {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item > a:last-child {
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.item:hover > a:last-child {
    opacity: 1;
}

.new-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}

/* DISPLAY */
#display {
    display: flex;
    justify-content: space-between;
}

#display section > label {
    height: 50px;
    padding: 10px;
    background-color: #EEE;
}

/* SALING */
#saling {
	width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F5F5;
}

#outstanding:hover > label {
    color: white;
    background-color: royalblue;
}

#sale:hover > label {
    color: white;
    background-color: tomato;
}

#newest:hover > label {
    color: white;
    background-color: aquamarine;
}

/* BEST-SALER */
#best-saler:hover > label {
    color: white;
    background-color: red;
}

#best-saler {
    width: 24%;
    height: fit-content;
    background-color: #F5F5F5;
}

#best-saler ol {
    border-radius: 0;
}

#best-saler img {
    margin: 5px 0;
    height: 10vh;
    object-fit: contain;
}

/*toast message*/

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

